---
import { config } from '@/constants';
import IconLink from './IconLink.astro';

interface Props {
  className?: string;
}

const { className, ...rest } = Astro.props;
---

<footer class:list={['footer', className]} {...rest}>
  <p class="footer__copyright">© Dmitrii Sviridov 2024</p>
  <ul class="footer__socials-list">
    <li>
      <IconLink href={config.links.telegram} icon="telegram" label="Telegram" />
    </li>
    <li>
      <IconLink href=`mailto:${config.email}` icon="email" label="Email" />
    </li>
    <li>
      <IconLink href={config.links.github} icon="github" label="GitHub" />
    </li>
    <li>
      <IconLink href={config.links.linkedin} icon="linkedin" label="LinkedIn" />
    </li>
  </ul>
</footer>

<style>
  .footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 8px;
    padding: 16px 0;
    color: var(--color-text-secondary);

    @media (--tablet) {
      flex-direction: row;
      justify-content: space-between;
      gap: unset;
      padding: 32px 0;
    }
  }

  .footer__copyright {
    margin: 0;
    font-size: 14px;

    @media (--tablet) {
      font-size: 16px;
    }
  }

  .footer__socials-list {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
</style>
