---
interface Props {
  class?: string;
}

const { class: className, ...rest } = Astro.props;
---

<footer class:list={['container', className]} {...rest}>
  <p class="copyright">© Dmitrii Sviridov 2024</p>
  <ul class="social-list">
    <li>
      <a class="social-link" href="https://t.me/slamach">
        <span class="visually-hidden">Telegram</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="22"
          height="18"
          viewBox="0 0 22 18"
        >
          <path
            fill="currentColor"
            fill-rule="evenodd"
            d="m7.395 9.356 5.718-3.493a.984.984 0 0 1 1.026 1.68l-4.996 3.052 4.18 4.181a1.576 1.576 0 0 0 2.59-.568l3.533-9.593a1.371 1.371 0 0 0-1.287-1.848h-.137c-.133 0-.263.018-.392.053L3.153 6.715a.928.928 0 0 0 .06 1.805l4.182.836Zm-4.568 1.095 4.234.847 4.87 4.87a3.544 3.544 0 0 0 5.828-1.282l3.535-9.592A3.34 3.34 0 0 0 18.158.797h-.136c-.305 0-.61.04-.903.12L2.64 4.814a2.897 2.897 0 0 0 .186 5.636Z"
            clip-rule="evenodd"
          >
          </path>
        </svg>
      </a>
    </li>
    <li>
      <a class="social-link" href="mailto:sviridov.dvv@gmail.com">
        <span class="visually-hidden">Email</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          fill="none"
          viewBox="0 0 18 18"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12.556 9a3.556 3.556 0 1 0-7.112 0 3.556 3.556 0 0 0 7.112 0Zm0 0v1.333a2.223 2.223 0 1 0 4.444 0V9a8 8 0 1 0-4 6.928"
          >
          </path>
        </svg>
      </a>
    </li>
    <li>
      <a class="social-link" href="https://github.com/slamach">
        <span class="visually-hidden">GitHub</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M6.315 6.176c-.25-.638-.24-1.367-.129-2.034a6.77 6.77 0 0 1 2.12 1.07c.28.214.647.283.99.18A9.343 9.343 0 0 1 12 5c.961 0 1.874.14 2.703.391.342.104.71.034.988-.18a6.77 6.77 0 0 1 2.12-1.07c.11.667.12 1.396-.129 2.033-.15.384-.075.826.208 1.14C18.614 8.117 19 9.04 19 10c0 2.114-1.97 4.187-5.134 4.818-.792.158-1.1 1.155-.495 1.726.39.366.63.882.63 1.456v3a1 1 0 0 0 2 0v-3c0-.57-.12-1.112-.335-1.603C18.683 15.35 21 12.993 21 10c0-1.347-.484-2.585-1.287-3.622.21-.82.191-1.646.111-2.28-.07-.568-.17-1.312-.57-1.756-.595-.659-1.58-.271-2.28-.032a9.082 9.082 0 0 0-2.125 1.045A11.431 11.431 0 0 0 12 3c-.994 0-1.953.125-2.85.356a9.08 9.08 0 0 0-2.126-1.045c-.7-.24-1.686-.628-2.28.031-.409.452-.494 1.137-.567 1.719l-.005.038c-.08.635-.098 1.462.112 2.283C3.484 7.418 3 8.654 3 10c0 2.992 2.317 5.35 5.334 6.397A3.985 3.985 0 0 0 8 17.98l-.168.034c-.717.1-1.176.01-1.488-.122-.76-.322-1.152-1.133-1.63-1.753-.298-.385-.732-.866-1.398-1.088a1 1 0 1 0-.632 1.898c.558.186.944 1.142 1.298 1.566.373.448.87.916 1.58 1.218.682.29 1.483.393 2.438.276V21a1 1 0 0 0 2 0v-3c0-.574.24-1.09.63-1.456.606-.572.296-1.568-.496-1.726C6.97 14.188 5 12.114 5 10c0-.958.385-1.881 1.108-2.684.283-.314.357-.756.207-1.14Z"
          >
          </path>
        </svg>
      </a>
    </li>
    <li>
      <a class="social-link" href="https://www.linkedin.com/in/slamach/">
        <span class="visually-hidden">LinkedIn</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H8a4 4 0 0 1-4-4V8a4 4 0 0 1 4-4Z"
          >
          </path>
          <path
            fill="currentColor"
            d="M8 10a1 1 0 0 1 .993.883L9 11v5a1 1 0 0 1-1.993.117L7 16v-5a1 1 0 0 1 1-1Zm3-1a1 1 0 0 1 .984.821 5.82 5.82 0 0 1 .623-.313c.667-.285 1.666-.442 2.568-.159.473.15.948.43 1.3.907.315.425.485.942.519 1.523L17 12v4a1 1 0 0 1-1.993.117L15 16v-4c0-.33-.08-.484-.132-.555a.548.548 0 0 0-.293-.188c-.348-.11-.849-.052-1.182.09-.5.214-.958.55-1.27.861L12 12.34V16a1 1 0 0 1-1.993.117L10 16v-6a1 1 0 0 1 1-1ZM8 7a1 1 0 1 1 0 2 1 1 0 0 1 0-2Z"
          >
          </path>
        </svg>
      </a>
    </li>
  </ul>
</footer>

<style>
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
  }

  .copyright {
    margin: 0;
    font-size: 14px;
    color: var(--color-text-secondary);
  }

  .social-list {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: var(--color-text-secondary);

    &:hover,
    &:focus-visible {
      color: var(--color-accent);
    }
  }
</style>
