---
import { Icon } from 'astro-icon/components';

interface Props {
  class?: string;
}

const { class: className, ...rest } = Astro.props;
---

<footer class:list={['container', className]} {...rest}>
  <p class="copyright">© Dmitrii Sviridov 2024</p>
  <ul class="social-list">
    <li>
      <a class="social-link" href="https://t.me/slamach">
        <span class="visually-hidden">Telegram</span>
        <Icon name="telegram" size={24} />
      </a>
    </li>
    <li>
      <a class="social-link" href="mailto:sviridov.dvv@gmail.com">
        <span class="visually-hidden">Email</span>
        <Icon name="email" size={24} />
      </a>
    </li>
    <li>
      <a class="social-link" href="https://github.com/slamach">
        <span class="visually-hidden">GitHub</span>
        <Icon name="github" size={24} />
      </a>
    </li>
    <li>
      <a class="social-link" href="https://www.linkedin.com/in/slamach/">
        <span class="visually-hidden">LinkedIn</span>
        <Icon name="linkedin" size={24} />
      </a>
    </li>
  </ul>
</footer>

<style>
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
  }

  .copyright {
    margin: 0;
    font-size: 14px;
    color: var(--color-text-secondary);
  }

  .social-list {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: var(--color-text-secondary);

    &:hover,
    &:focus-visible {
      color: var(--color-accent);
    }
  }
</style>
