---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';

interface Props extends Omit<HTMLAttributes<'a'>, 'class'> {
  className?: string;
  iconName: string;
  ariaLabel: string;
}

const ICON_SIZE = 24;

const { className, iconName, ariaLabel, ...rest } = Astro.props;
---

<a class:list={['icon-link', className]} aria-label={ariaLabel} {...rest}>
  <Icon name={iconName} size={ICON_SIZE} />
</a>

<style>
  .icon-link {
    color: inherit;

    @media (--hover) {
      &:hover {
        color: var(--color-accent);
      }
    }
  }
</style>
