---
import type { HTMLAttributes } from 'astro/types';

interface Props extends Omit<HTMLAttributes<'a'>, 'class'> {
  className?: string;
  inverted?: boolean;
}

const { className, inverted, ...rest } = Astro.props;
---

<a class:list={['link', { inverted }, className]} {...rest}><slot /></a>

<style>
  .link {
    position: relative;
    color: inherit;
    text-decoration: none;
    box-shadow: inset 0 -6px 0 var(--color-accent-secondary);

    &.inverted {
      box-shadow: none;
    }

    @media (--hover) {
      &:hover {
        box-shadow: none;
      }

      &.inverted:hover {
        box-shadow: inset 0 -6px 0 var(--color-accent-secondary);
      }
    }
  }
</style>
