---
import '@/styles/global/index.css';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import { config } from '@/constants';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="icon" href="/icons/favicon.ico" sizes="any" />
    <link rel="icon" href="/icons/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={config.website.title}
      href="/rss.xml"
    />

    <title>{title}</title>
    {description && <meta name="description" content={description} />}
  </head>

  <body class="base-layout">
    <Header className="base-layout__header" />
    <main class="base-layout__main">
      <slot />
    </main>
    <Footer className="base-layout__footer" />
  </body>
</html>

<style>
  .base-layout {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: 768px;
    margin: 0 auto;
    padding: 0 16px;
    font-family: var(--font-family-text);
    font-size: 16px;
    color: var(--color-text);
    background-color: var(--color-bg);

    @media (--tablet) {
      padding: 0 24px;
      font-size: 18px;
    }

    @media (--desktop) {
      padding: 0 32px;
    }
  }

  .base-layout__header,
  .base-layout__main {
    margin-bottom: 32px;

    @media (--tablet) {
      margin-bottom: 64px;
    }
  }

  .base-layout__footer {
    margin-top: auto;
  }
</style>
