---
import '@styles/global/index.css';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="icon" href="/icons/favicon.ico" sizes="any" />
    <link rel="icon" href="/icons/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />

    <title>{title}</title>
    {description && <meta name="description" content={description} />}
  </head>

  <body>
    <Header class="header" />
    <main class="main">
      <slot />
    </main>
    <Footer class="footer" />
  </body>
</html>

<style>
  body {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    margin: 0 auto;
    padding: 0 32px;
    font-family: var(--font-family-text);
    font-size: 18px;
    color: var(--color-text);
    background-color: var(--color-bg);
  }

  .header,
  .main {
    margin-bottom: 64px;
  }

  .footer {
    margin-top: auto;
  }
</style>
