---
interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="icon" href="/icons/favicon.ico" sizes="any" />
    <link rel="icon" href="/icons/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />

    <title>{title}</title>
    {description && <meta name="description" content={description} />}
  </head>

  <body>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/inter-regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url('/fonts/inter-italic.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/inter-medium.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Inter Fallback';
    size-adjust: 107%;
    ascent-override: 90%;
    src: local('Arial');
  }

  @font-face {
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/poppins-medium.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Poppins Fallback';
    size-adjust: 112.5%;
    ascent-override: 109%;
    src: local('Arial');
  }

  @font-face {
    font-family: 'JetBrains Mono';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/jetbrains-mono-regular.woff2') format('woff2');
  }

  :root {
    /* Fonts */
    --font-family-text: Inter, 'Inter Fallback', sans-serif;
    --font-family-heading: Poppins, 'Poppins Fallback', sans-serif;
    --font-family-monospace: 'JetBrains Mono', monospace;

    /* Colors */
    --color-bg: #ffffff;
    --color-bg-secondary: #f1f0ff;
    --color-text: #0c0b1d;
    --color-text-secondary: #5f5f6d;
    --color-accent: #463fa9;
    --color-accent-secondary: rgba(70, 63, 169, 0.3);
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }

  body {
    height: 100%;
    min-width: 320px;
    margin: 0;
    font-family: var(--font-family-text);
    font-size: 18px;
    color: var(--color-text);
    background-color: var(--color-bg);
    scroll-behavior: smooth;
  }

  img,
  svg {
    height: auto;
    max-width: 100%;
  }
</style>
